/* MACRO CONTAINER */
nav {
    height: 90vh;
}

main {
    height: 90vh;
    background-image: url('../img/mine.jpg');
}

/* UTILITY */
.small_text {
    font-size: 11px;
}

.pointer {
    cursor: pointer;
}

/* BG COLOR */
.gradient_bg {
    height: 100vh;
    background: linear-gradient(to bottom, #009688 0%, #009688 15%, #dbdbd3 15%, #dbdbd3 100%);
}

.lightgray_bg {
  background-color: #fafafa;
}

.turquoise_bg {
    background-color: #8fd9fc;
}

.gray {
    background-color: #f4f5f5;
}

/* IMG */
.user_info > img,
.contact_info > img {
    width: 60px;
}

.contact_img {
    width: 70px;
}

/* ICONS */

.top_icons > i {
    font-size: 20px;
    margin: 0 5px;
}

.notif_icon > i {
    font-size: 25px;
}

.main_footer .emoji > i,
.main_footer .microphone > i {
    font-size: 20px;
}

/* ----------------------------------------------- */

/* NAVBAR */
.search_contact .search_form > input::placeholder {
    font-size: 12px;
}

.contact_list > li {
    list-style: none;
}


/* MAIN - content */
.message_box .sent {
    width: 300px;
    max-width: 300px;
    border-radius: 15px;
    float: right;
    background-color: #d5f9ba;
}

.message_box .received {
    width: 300px;
    max-width: 300px;
    border-radius: 15px;
    background-color: #fff;
}

.dropdown {
  top: 35px;
  right: 15px;
  padding: 15px 30px;
  border-radius: 3px;
  background-color: #fff;
  z-index: 1;
}

.dropdown > div {
    line-height: 37px;
}

/* MAIN - footer */
.main_footer {
    height: 70px;
    background-color: #f4eee9;
}

.main_footer .message_input > input::placeholder {
    font-size: 13px;
}