.contact_list ul > li {
    list-style: none;
}

.contact_list ul li > img {
    width: 70px;
}

.profile_pic > img {
    width: 60px;
}

.top_icons > i {
    font-size: 20px;
    margin: 0 5px;
}

.notification {
    background-color: #8fd9fc;
}

.notif_icon > i {
    font-size: 25px;
    color: #8fd9fc;
}

.enable_notif {
    cursor: pointer;
}

.search_contact {
  background-color: #fafafa;
}

.search_box {
    font-size: 12px;
}