<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script>dayjs().format()</script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

    <div id="app">
        <div class="container-fluid gradient_bg">
            <div class="container py-4">
                <!-- NAVBAR -->
                <div class="row">
                    <div class="col-lg-4 g-0">
                        <nav class="d-flex flex-column bg-white">
                            <!-- user area -->
                            <div class="nav_header d-flex justify-content-between align-items-center bg-light py-2 px-3">
                                <div class="user_info me-2">
                                    <img class="rounded-circle pointer" :src="'img/' + userInfo.userAvatar" alt="">
                                    <span class="pointer">{{userInfo.userName}}</span>
                                </div>

                                <div class="top_icons text-secondary">
                                    <i class="fas fa-circle-notch pointer"></i>
                                    <i class="fas fa-comment-alt pointer"></i>
                                    <i class="fas fa-ellipsis-v pointer"></i>
                                </div>
                            </div>
                            <!-- notifiche -->
                            <div class="notification turquoise_bg d-flex align-items-center p-3">
                                <!-- icona (bell) delle notifiche -->
                                <div class="notif_icon turquoise_bg rounded-circle bg-white p-2 me-2">
                                    <i class="fas fa-bell-slash"></i>
                                </div>
                                
                                <div class="notif_alert">
                                    <div>Ricevi notifiche di nuovi messaggi</div>
                                    <div class="pointer text-decoration-underline text-secondary">Attiva notifiche desktop</div>
                                </div>
                            </div>
                            <!-- search input -->
                            <div class="search_contact lightgray_bg p-2">
                                <div class="search_form d-flex align-items-center bg-white">
                                    <!-- icona lente -->
                                    <button class="text-secondary border-0 bg-white mx-3"><i class="fas fa-search"></i></button>
                                    <!-- input search area -->
                                    <input 
                                        type="text" 
                                        class="w-100 border-0" 
                                        placeholder="Cerca o inizia una nuova chat"
                                        v-model="searchContact"
                                    >
                                </div>
                            </div>
                            <!-- contacts -->
                            <ul class="p-0 contact_list overflow-auto">
                                <!-- ciclo  v-for che mi stampa un li per ogni contatto nell'array -->
                                <li 
                                    class="my-4 px-3 pointer"
                                    :class="addGrayBg(index)"
                                    v-for="(contact, index) in contacts"
                                    @click="currentContact(index)"
                                >   
                                    <!-- tramite il v-if filtro la lista dei contatti srivendo all'interno del search input -->
                                    <div v-if="contact.name.toLowerCase().includes(searchContact)">
                                        <img class="contact_img rounded-circle me-2" :src="showAvatar(contact)" alt="" />
                                        <span class="align-top">{{contact.name}}</span>
                                    </div>
                                </li>
                            </ul>

                        </nav>
                    </div>

                    <!-- MAIN -->
                    <div class="col-lg-8 g-0">
                        <main class="d-flex flex-column">
                            <!-- top -->
                            <div class="main_header d-flex justify-content-between align-items-center bg-light py-2 px-3">

                                <div class="contact_info d-flex justify-content-between align-items-center me-2">
                                    <img class="pointer rounded-circle" :src="showAvatar(contacts[currentIndex])" alt="">

                                    <div class="last_seen">
                                        <div class="pointer">{{contacts[currentIndex].name}}</div>
                                        <!-- la data dell'ultimo messaggio attuale (length - 1) del contatto attuale (contacts[currentIndex]) -->
                                        <div class="small_text">Ultimo accesso oggi alle {{lastSeen(currentIndex)}}</div>
                                    </div>
                                </div>
                                    
                                <div class="top_icons text-secondary">
                                    <i class="fas fa-search pointer"></i>
                                    <i class="fas fa-paperclip pointer"></i>
                                    <i class="fas fa-ellipsis-v pointer"></i>
                                </div>
                                
                            </div>
                            <!-- main content -->
                            <div class="chat h-100 overflow-auto px-5 py-4">
                                <!-- per ogni message mell'array messages in contacts[currentIndex] -->
                                <div class="message_box clearfix" v-for="(message, index) in contacts[currentIndex].messages">
                                    <div 
                                        class="message position-relative text-break p-3 my-3"
                                        :class="message.status"
                                    >
                                        <!-- icona del drop down menù -->
                                        <div class="pointer float-end" @click="dropdownMenu(index)"><i class="fas fa-chevron-down"></i></div>
                                        <!-- message content -->
                                        <div class="message_text">{{message.text}}</div>
                                        <div class="small_text text-secondary text-end">{{message.date}}</div>
                                        <!-- dropdown menu -->
                                        <!-- TO FIX: menù non si chiude (toggle?) + passa da un messaggio eliminato all'altro quando aperto -->
                                        <div class="dropdown position-absolute" v-if="modal === index">
                                            <div class="message_info pointer">Message info</div>
                                            <!-- TO FIX > deleteMessage (dà errore all'ultimo messaggio eliminato) -->
                                            <div class="delete_message pointer" @click="deleteMessage(index)">Delete message</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- main footer -->
                            <div class="main_footer d-flex justify-content-between align-items-center text-center">
                                <!-- emoji -->
                                <div class="emoji text-secondary mx-4">
                                    <i class="far fa-smile pointer"></i>
                                </div>
                                <!-- input text area: qui invio il messaggio nella chat corrente -->
                                <div class="message_input w-100">
                                    <input 
                                        class="form-control"
                                        type="text"
                                        placeholder="Scrivi un messaggio"
                                        v-model="inputMessage"
                                        @keyup.enter="sendMessage(contacts[currentIndex])"
                                    >
                                </div>
                                <!-- icona microfono -->
                                <div class="microphone text-secondary mx-4">
                                    <i class="fas fa-microphone pointer"></i>
                                </div>
                            </div>
                        </main>
                    </div>

                </div>

            </div>
        </div>
    </div>
    
    <script src="js/script.js"></script>
</body>
</html>