<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

    <div id="app">
        <div class="container-fluid gradient_bg">

            <div class="container py-4">

                <div class="row">
                    <!-- NAVBAR -->
                    <div class="col-lg-4 g-0">
                        <nav class="d-flex flex-column bg-white">
                            <!-- user area -->
                            <div class="user_info w-100 d-flex justify-content-between align-items-center bg-light py-2 px-3">
                                <div class="profile_pic me-2">
                                    <img class="pointer rounded-circle" :src="'img/' + userInfo.userAvatar" alt="">
                                    <span class="pointer">{{userInfo.userName}}</span>
                                </div>

                                <div class="top_icons text-secondary">
                                    <i class="fas fa-circle-notch pointer"></i>
                                    <i class="fas fa-comment-alt pointer"></i>
                                    <i class="fas fa-ellipsis-v pointer"></i>
                                </div>
                            </div>
                            <!-- notifiche -->
                            <div class="notification w-100 d-flex justify-content-start align-items-center p-3">
                                <div class="notif_icon rounded-circle bg-white p-2 me-2">
                                    <i class="fas fa-bell-slash"></i>
                                </div>
                                <div class="notif_alert">
                                    <div>Ricevi notifiche di nuovi messaggi</div>
                                    <div class="pointer text-decoration-underline text-secondary">Attiva notifiche desktop</div>
                                </div>
                            </div>
                            <!-- search input -->
                            <div class="search_contact w-100 p-2">
                                <div class="search_form d-flex align-items-center bg-white">
                                    <button class="text-secondary border-0 bg-white mx-3"><i class="fas fa-search"></i></button>
                                    <input 
                                        type="text" 
                                        class="w-100 border-0" 
                                        placeholder="Cerca o inizia una nuova chat"
                                    >
                                </div>
                            </div>
                            <!-- contacts -->
                            <div class="contact_list w-100">
                                <ul>
                                    <li 
                                        class="pointer py-3" v-for="(contact, index) in contacts" @click="currentContact(index)">

                                        <img class="rounded-circle me-2" :src="'img/' + contact.avatar" alt="" />
                                        <span class="align-top">{{contact.name}}</span>
                                    </li>
                                </ul>
                            </div>

                        </nav>
                    </div>

                    <!-- MAIN -->
                    <div class="col-lg-8 g-0">
                        <main class="d-flex flex-column">
                            <!-- top -->
                            <div class="main_header">
                                <div class="user_info w-100 d-flex justify-content-between align-items-center bg-light py-2 px-3">
                                    <div class="profile_pic me-2">
                                        <img class="pointer rounded-circle" :src="'img/' + contacts[currentIndex].avatar" alt="">
                                        <span class="pointer">{{contacts[currentIndex].name}}</span>
                                    </div>
                                    
                                    <div class="top_icons text-secondary">
                                        <i class="fas fa-search pointer"></i>
                                        <i class="fas fa-paperclip pointer"></i>
                                        <i class="fas fa-ellipsis-v pointer"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- main content -->
                            <div class="main_content h-100 overflow-auto px-5">
                                <div class="chat d-flex flex-column my-4">
                                    <!-- per ogni message mell'array messages in contacts[currentIndex] -->
                                    <div class="message_box" v-for="(message, index) in contacts[currentIndex].messages">
                                        <div class="message p-3 my-3" :class="message.status === 'sent' ? 'sent':'received' ">
                                            <div class="message_text">{{message.text}}</div>
                                            <div class="message_date text-secondary text-end">{{message.date}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- main footer -->
                            <div class="main_footer d-flex justify-content-between align-items-center text-center">
                                <div class="emoji text-secondary mx-4">
                                    <i class="far fa-smile pointer"></i>
                                </div>

                                <div class="message_input w-100">
                                    <input 
                                        class="form-control"
                                        type="text"
                                        placeholder="Scrivi un messaggio"
                                        v-model="inputMessage"
                                        @keyup.enter="sendMessage"
                                    >
                                </div>

                                <div class="microphone text-secondary mx-4">
                                    <i class="fas fa-microphone pointer"></i>
                                </div>
                            </div>
                        </main>
                    </div>

                </div>

            </div>
        </div>
    </div>
    
    <script src="js/script.js"></script>
</body>
</html>